<!DOCTYPE html>
<html>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <head>
        <title>Travelon</title>
    </head>

    <body>

    <nav class="navbar navbar-default">

        <div class="navbar-header">

            <a class="navbar-brand" href="/">Travelon</a>

        </div>

        <div class="container-fluid">
            <div class="collapse navbar-collapse">

                <ul class=" nav navbar-nav navbar-right">
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Signup</a></li>
                    <li><a href="/">Logout</a></li>

                </ul>
            </div>





        </div>


    </nav>

