<% include partials/header%>


<h1> Add a new location </h1>

<form action="/locations" method="post" >


    <input type="text" name ="name"placeholder="name">
    <input type="text" name="img"placeholder="image link">

    <button type="submit">Submit </button>

</form>


<% include partials/footer%>
